[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
usaddress = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
